CapaWeb/Service References/BoletaVendedorClienteServ/ServicioBoletaVendedorCliente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaEntidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaEntidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBoletaVendedorCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BoletaVendedorCliente" nillable="true" type="tns:BoletaVendedorCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoletaVendedorCliente" nillable="true" type="tns:ArrayOfBoletaVendedorCliente" />
  <xs:complexType name="BoletaVendedorCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteNombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClienteRut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroBoleta" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsuarioVendedor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoletaVendedorCliente" nillable="true" type="tns:BoletaVendedorCliente" />
</xs:schema>