CapaWeb/Service References/LoginVendedorServ/ServicioLoginVendedor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioLoginVendedor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65277/ServicioLoginVendedor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65277/ServicioLoginVendedor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65277/ServicioLoginVendedor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaDato" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioLoginVendedor_VerificarLoginVendedor_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarLoginVendedor" />
  </wsdl:message>
  <wsdl:message name="IServicioLoginVendedor_VerificarLoginVendedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarLoginVendedorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLoginVendedor_BuscarLoginVendedor_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarLoginVendedor" />
  </wsdl:message>
  <wsdl:message name="IServicioLoginVendedor_BuscarLoginVendedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarLoginVendedorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioLoginVendedor">
    <wsdl:operation name="VerificarLoginVendedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLoginVendedor/VerificarLoginVendedor" message="tns:IServicioLoginVendedor_VerificarLoginVendedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLoginVendedor/VerificarLoginVendedorResponse" message="tns:IServicioLoginVendedor_VerificarLoginVendedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarLoginVendedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLoginVendedor/BuscarLoginVendedor" message="tns:IServicioLoginVendedor_BuscarLoginVendedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLoginVendedor/BuscarLoginVendedorResponse" message="tns:IServicioLoginVendedor_BuscarLoginVendedor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioLoginVendedor" type="tns:IServicioLoginVendedor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarLoginVendedor">
      <soap:operation soapAction="http://tempuri.org/IServicioLoginVendedor/VerificarLoginVendedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarLoginVendedor">
      <soap:operation soapAction="http://tempuri.org/IServicioLoginVendedor/BuscarLoginVendedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioLoginVendedor">
    <wsdl:port name="BasicHttpBinding_IServicioLoginVendedor" binding="tns:BasicHttpBinding_IServicioLoginVendedor">
      <soap:address location="http://localhost:65277/ServicioLoginVendedor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>