CapaWeb/Service References/LoginVendedorServ/ServicioLoginVendedor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65277/ServicioLoginVendedor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaDato" />
  <xs:element name="VerificarLoginVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarLoginVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarLoginVendedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarLoginVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarLoginVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CapaDato" minOccurs="0" name="BuscarLoginVendedorResult" nillable="true" type="q1:LoginVendedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>