CapaWeb/Service References/BoletaServ/ServicioBoleta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaDato" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaDato" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBoleta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Boleta" nillable="true" type="tns:Boleta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoleta" nillable="true" type="tns:ArrayOfBoleta" />
  <xs:complexType name="Boleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="DetalleBoleta" nillable="true" type="tns:ArrayOfDetalleBoleta" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdVendedor" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroBoleta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Vendedor" nillable="true" type="tns:Vendedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Boleta" nillable="true" type="tns:Boleta" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boleta" nillable="true" type="tns:ArrayOfBoleta" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfDetalleBoleta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleBoleta" nillable="true" type="tns:DetalleBoleta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleBoleta" nillable="true" type="tns:ArrayOfDetalleBoleta" />
  <xs:complexType name="DetalleBoleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boleta" nillable="true" type="tns:Boleta" />
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdDetalle" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdProducto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroBoleta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleBoleta" nillable="true" type="tns:DetalleBoleta" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetalleBoleta" nillable="true" type="tns:ArrayOfDetalleBoleta" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="Vendedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boleta" nillable="true" type="tns:ArrayOfBoleta" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdVendedor" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoginVendedor" nillable="true" type="tns:LoginVendedor" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vendedor" nillable="true" type="tns:Vendedor" />
  <xs:complexType name="LoginVendedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendedor" nillable="true" type="tns:ArrayOfVendedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginVendedor" nillable="true" type="tns:LoginVendedor" />
  <xs:complexType name="ArrayOfVendedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vendedor" nillable="true" type="tns:Vendedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendedor" nillable="true" type="tns:ArrayOfVendedor" />
</xs:schema>