CapaWeb/Service References/VendedorServ/ServicioVendedor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioVendedor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65277/ServicioVendedor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65277/ServicioVendedor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65277/ServicioVendedor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaDato" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioVendedor_ListarVendedores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarVendedores" />
  </wsdl:message>
  <wsdl:message name="IServicioVendedor_ListarVendedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarVendedoresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioVendedor_BuscarVendedor_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVendedor" />
  </wsdl:message>
  <wsdl:message name="IServicioVendedor_BuscarVendedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVendedorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioVendedor_BuscarVendedorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVendedorUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioVendedor_BuscarVendedorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVendedorUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioVendedor">
    <wsdl:operation name="ListarVendedores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVendedor/ListarVendedores" message="tns:IServicioVendedor_ListarVendedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVendedor/ListarVendedoresResponse" message="tns:IServicioVendedor_ListarVendedores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarVendedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVendedor/BuscarVendedor" message="tns:IServicioVendedor_BuscarVendedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVendedor/BuscarVendedorResponse" message="tns:IServicioVendedor_BuscarVendedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarVendedorUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVendedor/BuscarVendedorUsuario" message="tns:IServicioVendedor_BuscarVendedorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVendedor/BuscarVendedorUsuarioResponse" message="tns:IServicioVendedor_BuscarVendedorUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioVendedor" type="tns:IServicioVendedor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarVendedores">
      <soap:operation soapAction="http://tempuri.org/IServicioVendedor/ListarVendedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVendedor">
      <soap:operation soapAction="http://tempuri.org/IServicioVendedor/BuscarVendedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVendedorUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioVendedor/BuscarVendedorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioVendedor">
    <wsdl:port name="BasicHttpBinding_IServicioVendedor" binding="tns:BasicHttpBinding_IServicioVendedor">
      <soap:address location="http://localhost:65277/ServicioVendedor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>