CapaWeb/Service References/DetalleProductoServ/ServicioDetalleProducto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaEntidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaEntidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDetalleProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleProducto" nillable="true" type="tns:DetalleProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleProducto" nillable="true" type="tns:ArrayOfDetalleProducto" />
  <xs:complexType name="DetalleProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdDetalle" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroBoleta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoPrecio" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleProducto" nillable="true" type="tns:DetalleProducto" />
</xs:schema>